
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About Us</h1>

<p>Add about us blurb here</p>

@*@section footersection
{
    @Html.ActionLink("List of Tea", "Index", "Tea")
}*@

