@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Allow Danny Devito to comfort you in these trying times</h3>
<img src="/images/dannydevito.jpg" width="1200" height="600" />
