
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Menu</h1>
<div class="container-fluid">
  <h3 style="text-align:center">-teas and drinks-</h3>
  <h4 style="text-align:center"><a asp-action="Details" asp-controller="Tea"  asp-route-id="1"><b>green tea</b></a></h4>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">extra green sencha</div>
    <div class="col-sm-2">8.50</div>
    <div class="col-sm-2">sencha</div>
    <div class="col-sm-2">8.00</div>
    <div class="col-sm-2">genmai cha</div>
    <div class="col-sm-2">4.50</div>
  </div>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">houji cha</div>
    <div class="col-sm-2">4.50</div>
    <div class="col-sm-2">kuki cha</div>
    <div class="col-sm-2">5.50</div>
    <div class="col-sm-2">bancha</div>
    <div class="col-sm-2">4.30</div>
  </div>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">gyokuro</div>
    <div class="col-sm-2">9.00</div>
    <div class="col-sm-2">gun powder</div>
    <div class="col-sm-2">4.00</div>
    <div class="col-sm-2">dragon well</div>
    <div class="col-sm-2">5.50</div>
  </div>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">matcha</div>
    <div class="col-sm-2">9.00</div>
  </div>

  <h4 style="text-align:center"><b>black tea</b></h4>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">keemun</div>
    <div class="col-sm-2">6.00</div>
    <div class="col-sm-2">lapsang suchong</div>
    <div class="col-sm-2">4.30</div>
    <div class="col-sm-2">darjeeling</div>
    <div class="col-sm-2">4.50</div>
  </div>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">assam</div>
    <div class="col-sm-2">4.00</div>
    <div class="col-sm-2">kenya</div>
    <div class="col-sm-2">4.00</div>
    <div class="col-sm-2">yunnan</div>
    <div class="col-sm-2">6.50</div>
  </div>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">jin jun mei</div>
    <div class="col-sm-2">7.00</div>
  </div>

  <h4 style="text-align:center"><b>white tea</b></h4>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">silver needle</div>
    <div class="col-sm-2">6.00</div>
    <div class="col-sm-2">organic flower</div>
    <div class="col-sm-2">7.00</div>
    <div class="col-sm-2">white peony</div>
    <div class="col-sm-2">6.00</div>
  </div>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">shou mei</div>
    <div class="col-sm-2">5.50</div>
    <div class="col-sm-2">silver needle and chrysanthemum</div>
    <div class="col-sm-2">5.00</div>
    <div class="col-sm-2">silver needle and jasmine</div>
    <div class="col-sm-2">4.00</div>
  </div>

  <h4 style="text-align:center"><b>oolong tea</b></h4>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">jade</div>
    <div class="col-sm-2">8.00</div>
    <div class="col-sm-2">iron buddha</div>
    <div class="col-sm-2">8.00</div>
    <div class="col-sm-2">ginger</div>
    <div class="col-sm-2">7.00</div>
  </div>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">oriental beauty</div>
    <div class="col-sm-2">9.75</div>
    <div class="col-sm-2">da hong pao</div>
    <div class="col-sm-2">8.50</div>
    <div class="col-sm-2">milky oolong</div>
    <div class="col-sm-2">8.00</div>
  </div>

  <h4 style="text-align:center"><b>flavored green tea</b></h4>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">pearl jasmine</div>
    <div class="col-sm-2">8.00</div>
    <div class="col-sm-2">lemongrass and ginko</div>
    <div class="col-sm-2">4.30</div>
    <div class="col-sm-2">moroccan mint</div>
    <div class="col-sm-2">4.30</div>
  </div>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">grape sencha</div>
    <div class="col-sm-2">8.00</div>
    <div class="col-sm-2">pearl jasmine and chrysanthemum</div>
    <div class="col-sm-2">6.50</div>
    <div class="col-sm-2">coconut envy</div>
    <div class="col-sm-2">4.30</div>
  </div>

  <h4 style="text-align:center"><b>flavored black tea</b></h4>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">earl grey</div>
    <div class="col-sm-2">4.30</div>
    <div class="col-sm-2">mango</div>
    <div class="col-sm-2">4.00</div>
    <div class="col-sm-2">berries</div>
    <div class="col-sm-2">4.00</div>
  </div>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">chocolate mint</div>
    <div class="col-sm-2">4.30</div>
    <div class="col-sm-2">hazelnut</div>
    <div class="col-sm-2">4.00</div>
    <div class="col-sm-2">vanilla</div>
    <div class="col-sm-2">4.00</div>
  </div>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">rose</div>
    <div class="col-sm-2">4.30</div>
  </div>

  <h4 style="text-align:center"><b>pu-erh tea</b></h4>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">assorted blend</div>
    <div class="col-sm-2">7.50</div>
  </div>

  <h4 style="text-align:center"><b>herbal tea</b></h4>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">chrysanthemum</div>
    <div class="col-sm-2">5.50</div>
    <div class="col-sm-2">lemon grass</div>
    <div class="col-sm-2">4.00</div>
    <div class="col-sm-2">peppermint</div>
    <div class="col-sm-2">4.00</div>
  </div>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">rooibos</div>
    <div class="col-sm-2">4.00</div>
    <div class="col-sm-2">spiced rooibos</div>
    <div class="col-sm-2">5.50</div>
    <div class="col-sm-2">lavendar</div>
    <div class="col-sm-2">4.0</div>
  </div>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">raspberry</div>
    <div class="col-sm-2">4.00</div>
    <div class="col-sm-2">chamomile</div>
    <div class="col-sm-2">4.00</div>
    <div class="col-sm-2">yerba mate</div>
    <div class="col-sm-2">4.00</div>
  </div>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">tulsi</div>
    <div class="col-sm-2">4.30</div>
  </div>

  <h4 style="text-align:center"><b>dessert tea</b></h4>
  <div class="row" style="font-family:Verdana;padding-bottom:5px">
    <div class="col-sm-2">chai</div>
    <div class="col-sm-2">5.65</div>
    <div class="col-sm-2">rooibos chai</div>
    <div class="col-sm-2">5.65</div>

  <h3 style="text-align:center;padding-top:20px">-food and desserts-</h3>
  <h4 style="text-align:center"><b>cookies</b></h4>
  <h5 style="text-align:center"><i>2.50 for three cookies of any combination</i></h5>
  <div class="row" style="font-family:Verdana;padding-bottom:5px;text-align:center">
    <div class="col-sm-4" style="text-align:right">green tea</div>
    <div class="col-sm-4">raspberry</div>
    <div class="col-sm-4" style="text-align:left">earl grey</div>
  </div>
  <div class="row" style="font-family:Verdana;padding-bottom:5px;text-align:center">
    <div class="col-sm-4" style="text-align:right">chocolate</div>
    <div class="col-sm-4">chai</div>
    <div class="col-sm-4" style="text-align:left">black sesame</div>
  </div>
  <div class="row" style="font-family:Verdana;padding-bottom:5px;text-align:center">
    <div class="col-sm-4" style="text-align:right">kinako</div>
    <div class="col-sm-4">adzuki</div>
    <div class="col-sm-4"style="text-align:left">mocha</div>
  </div>

  <h4 style="text-align:center;padding-top:5px"><b>cake</b></h4>
  <h5 style="text-align:center"><i>6.00 per slice</i></h5>
  <div class="row" style="font-family:Verdana;padding-bottom:5px;text-align:center">
    <div class="col-sm-4" style="text-align:right">green tea</div>
    <div class="col-sm-4">earl grey</div>
    <div class="col-sm-4" style="text-align:left">chocolate</div>
  </div>

  <h4 style="text-align:center;padding-top:5px"><b>taiyaki</b></h4>
  <h5 style="text-align:center"><i>6.00 per cake</i></h5>
  <div class="row" style="font-family:Verdana;padding-bottom:5px;text-align:center">
    <div class="col-sm-4" style="text-align:right">anko</div>
    <div class="col-sm-4">black sesame</div>
    <div class="col-sm-4" style="text-align:left">chocolate</div>
  </div>

  <h4 style="text-align:center;padding-top:5px"><b>creme brulee</b></h4>
  <h5 style="text-align:center"><i>10.00 per cup</i></h5>
  <div class="row" style="font-family:Verdana;padding-bottom:5px;text-align:center">
    <div class="col-sm-4" style="text-align:right">black sesame</div>
    <div class="col-sm-4">green tea</div>
    <div class="col-sm-4" style="text-align:left">vanilla</div>
  </div>

  <h4 style="text-align:center;padding-top:5px"><b>rice balls</b></h4>
  <h5 style="text-align:center"><i>4.00 for two</i></h5>
  <div class="row" style="font-family:Verdana;padding-bottom:5px;text-align:center">
    <div class="col-sm-4" style="text-align:right">shiso</div>
    <div class="col-sm-4">plain</div>
    <div class="col-sm-4" style="text-align:left">takikomi gohan</div>
  </div>
</div>
