@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Books Gallery!</h1>
    <p>Check out the navigation bar to check out peruse our website!</p>
</div>
