
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<h1>About Us!</h1>
<p>This is an employee management system!</p>

@section footersection
{
    @Html.ActionLink("Employee", "Index", "Employee")
}